#top-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #ff0101;
    z-index: 99999;
    opacity: 1;
    transition: width 0.4s ease, opacity 0.3s ease;
}